.playerStats {
    display: flex;
    align-items: center;
    justify-content: right;
}

.hearts {
    font-size: 24px;
}

.battlesWon {
    margin-left: 20px;
}

.heart {
    color: red;
    margin-right: 5px;
}


.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopItem {
    width: 120px;
}

.shopItemImg {
    width: 100%;
    height: auto;

}

.shopItemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shopItemInfo p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.shopContainer {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    width: 80%; 
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 20px;
}


.battleButton {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 300px;
    font-size: 90px;
    color: orangered;
    background-color: black;
    box-shadow: 1px 1px 1px 5px;
    justify-content: center;
    z-index: 1; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.coins{
    position: relative;
    display: flex;
    margin: 10px;
    border: solid 1px black;
}

.teamMemberImg {
    width: 80%; 
    max-height: 80px; 
}

.teamContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
    margin-bottom: 10px;
}

.team-container {
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px; 
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
  }
  
  .podium {
    width: calc(20% - 20px);
    border: 2px dashed gray; 
    padding: 10px;
  }

  .podiumContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.teamMember p {
    margin: 5px 0;
}